<!-- book_details.html -->

{% extends 'collection/base.html' %}

{% load staticfiles %}

{% block name %}Books List{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>{{book.title}}</h1>
    <h2>Details</h2>
    <dl>
      <dt>Author</dt><dd><a href="/authors/{{book.author.id}}">{{book.author.full_name}}</a></dd>
      <dt>Published</dt><dd>{{book.pub_year}}</dd>
      <dt>ISBN</dt><dd>{{book.isbn}}</dd>
    </dl>
    <h2>My Review</h2>
    <dl>
      <dt>Rating</dt><dd>{{book.rating}}</dd>
      <dt>Notes</dt><dd>{{book.notes}}</dd>
    </ul>
  </div>
</div>
{% endblock %}
